#contact_modal {
  display: none;
}

.photograph-header {
	background-color: #FAFAFA;
	height: 300px;
	margin: 0 100px;
	/* position: relative; */
	display: flex;
	align-items: center;
	justify-content:space-around;
}

.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901C1C;
	border-radius: 5px;
	cursor: pointer;
}

.modal {
	border-radius: 5px;
	background-color: #DB8876;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312E2E;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}

.errorForm {
border: 2px solid #ee0c0c;
}

.errorStyle {
	color: #ee0c0c;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

#thumbs {
	height: 200px;
	width: 200px;
	border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 5px 0px grey;
}

/* element float in the page down rigth */
.price_badge {
  width: 300px;
  height: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #db8876;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  padding: 1rem;
  text-align: right;
}

#fullName {
	color: black;
	font-weight: 400;
	font-size: 64px;
	margin-top: -10px;
	margin-bottom: -1rem;
	margin-left: 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-content: center;
}

.cards {
  margin: auto ; 
  display: flex;
  margin-bottom: 5rem;
  margin-top: 6rem;
  width: 400px;
}

.card {
  flex-direction: column;
  display: flex;
}

.card-img {
  height: 350px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px darkgrey;
}

.card-img:hover {
  transform: scale(1.018);
}

.card-content {
  height: 30px;
  position: relative;
  font-size: 24px;
  top: 100%;
}

.card-title {
  position: relative;
  top: -50%;
  left: -25rem;
  color:#901C1C;
  width: 350px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.card-counter {
  position: absolute;
  top: 60%;
  color:#901C1C;
  left: -3.5rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.card-video {
  height: 350px;
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
}

.card-video:hover {
  transform: scale(1.018);
}

.card-video-light{
  width: 90%;
  height:95%;
}